      body {
            color: #173F5F;
            background-color: #FFFFFF;
        }

        header { 
            color: #173F5F;
            background-color: #A8C6D6;
        }

        .site-title {
            font-weight: bold;
        }

        nav {
            background-color: #D0A9A9;
        }

        .nav-links a {
            color: #FFFFFF;
            text-decoration: none;
            font-weight: bold;
        }

        .table-title {
            background-color: #A8C6D6;
            color: #173F5F;
            font-weight: bold;
            text-align: center;
        }

        .row1 {
            background-color: #E5EACF;
        }

        .row2 {
            background-color: #F7F7F7;
        }

        footer {
            color: #173F5F;
            background-color: #A8C6D6;
        }

        table {
            border: 2px solid #888888;
            border-collapse: collapse;
            table-layout: fixed;
        }

        th, td {
            border: 2px solid #888888;
            padding: 8px;
            text-align: center;
            word-wrap: break-word;
        }
        .link-section {
            order: 2;
        }
        
        .table-section {
            order: 1;
        }
        
        .form-section {
            order: 3;
        }
        @media (min-width: 768px) {
            .link-section {
                order: 1;
            }
            
            .table-section {
                order: 2;
            }
            
            .form-section {
                order: 3;
            }
        }
