@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madou+Futo+Maru+Gothic&display=swap');

.DGO {
    font-family: 'Dela Gothic One', sans-serif;
}
.CI {
    font-family: 'Cormorant Infant', sans-serif;
    font-weight: 700;
}
.MFMG{
    font-family: 'Madou Futo Maru Gothic', sans-serif;
    color: #E12885;
}
    .video-header {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
    .video-header video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
      filter: brightness(0.7);
      z-index: -1;
    }
    .header-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: white;
        text-align: center;
        width: 100%;
    }
    header h1{
        font-size: 40pt;
    }
    .header-nav{
        display: none;
    }
    .nav-mob{
        border-style: solid;
        border-radius: 5px;
        border-color: #47DFD3;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 80%;
        max-width: 80%;
    }
    select{
        color: #45818E;
        font-weight: 700;
    }
    select:focus {
        color: #373B3E;
    }
.linksong a{
    text-decoration: none;
    color: #45818E;
}
.linkInf p{
    color: #BEC8D1;
}
.linkInf{
    color: #BEC8D1;
}
.info{
    font-size: 15pt;
}
.tab{
    margin-top: 25px;
}
.About_pic{
    max-height: 100%;
    max-width: 100%;
}
.About_pic_third1{
    width: 100%;
}
.About_pic_third2{
    width: 100%;
}
.cover {
    max-width: 80%;
    margin: 0 auto;
}
.cover img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.slick-prev:before, 
.slick-next:before {
    color: #47DFD3;
    font-size: 25px;
}
footer{
    margin-top: 50px;
    background-color: #7ACBDC;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
footer form{
    width: 80%;
    color: #373B3E;
    font-size: 15pt;
    justify-content: center;
    align-items: center;
}
footer .contw{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.button{
    width: 80%;
    border: none;
    background-color: #E12885;
    color: white;
}
.formimg{
    width: 301px;
    height: 342px;
}
@media screen and (min-width: 720px){
    forPic1{
        width: 24%;
    }
    forPic2{
        width: 21%;
    }
    header h1{
        font-size: 64pt;
    }
    .header-nav{
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        font-size: 15pt;
    }
    select{
        font-weight: 700;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        color: inherit;
    }
    a{
        text-decoration: none;
        color: white;
    }
    div .info{
        font-size: 20pt;
    }
    .About_pic-md{
        position: absolute;
        z-index:-1;
    }
    .About_content{
        position:relative;
        z-index:1;
    }
    .tab{
        margin-top: 100px;
    }
    .About_pic_third1{
        width: 450px;
        height: 252px;
    }
    .About_pic_third2{
        width: 470px;
        height: 314px;
    }
    footer{
        margin-top: 50px;
        flex-direction: row; 
        justify-content: normal;
    }
    footer form{
        width: 100%;
    }
    .formimg{
        width: auto;
        height: auto;
        float: right;
    }
    .button{
        width: 100%;
    }
    .nav-mob{
        display: none;
    }
    select{
        color: white;
        font-weight: 700;
    }
    select:focus {
        color: #373B3E;
        background: #BEC8D1;
    }
}
