body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,250,234,0.5);
}

.Popup-content {
    color: #173F5F;
    background-color: #A8C6D6;
    margin: 15% auto;
    padding: 0.25rem;
    border: 1px solid #173F5F;
    max-width: 90%;
}

.close {
    color: #173F5F;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width: 720px){
    .Popup-content {
        padding: 0.5rem;
        max-width: 600px;
    }
}
